<!DOCTYPE html> {% extends "learning_logs/base.html" %} {% block content %}
<strong>
    <font size="3" color="#857E1E">
        <p>Topics</p>
    </font>

    <ul>
        <font size="2" color="#857E1E">
            {% for topic in topics %}
            <li>
                <a href="{% url 'topic' topic.id %}"> {{topic}} </a>
            </li>
            {% empty %}
            <li>No topics have been added yet.</li>
            {% endfor %}
        </font>
    </ul>
</strong>
{% endblock content %}